.success-message {
    color: green;
    font-weight: bold;
}

.error-message {
    color: red;
    font-weight: bold;
}

.redirect-button {
    padding: 10px;
    background-color: rgb(13, 0, 255);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
